<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Haza.io</title>
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
  </script>
</head>
<body>



    
  <div id="navDiv" ng-controller="navDivController">
    
    <!-- Button that renders SignIn/SignUp Modal -->
    <button type="button" class="btn btn-info btn-lg"
      id="showLoginModal"
      data-toggle="modal" data-target="#loginSignupModal">
      Sign In/Up
    </button>

    <!-- LogIn/SignUp Modal with Login Form and/or SignUp Form-->
    <div id="loginSignupModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- LogIn/SignUp Button that launches Modal -->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Log In or Sign Up</h4>
          </div>
          <div class="modal-body">

            <!-- Toggles for switching between LogIn/SignUp Forms in Modal Window -->
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#loginModalTab" data-toggle="tab">
                    Log In
                  </a>
                </li>
                <li>
                  <a href="#signupModalTab" data-toggle="tab">
                    Sign Up
                  </a>
                </li>
              </ul>
              <div class="tab-content">

              <!-- LogIn Form -->
                <div class="tab-pane active" id="loginModalTab">
                  <br/>
                  <form role="form">
                    <div class="form-group" id="loginForm">
                      <label for="loginUsername">Username:</label>
                      <input type="text" class="form-control"
                        id="loginUsername">
                    </div>
                    <div class="form-group">
                      <label for="loginPassword">Password:</label>
                      <input type="password" class="form-control"
                        id="loginPassword">
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox">Remember me</label>
                    </div>
                    <button id="logInButton" ng-click="getFromServerLogin()"
                      type="submit" class="btn btn-default">Log In</button>
                  </form>
                </div>

              <!-- SignUp Form -->
                <div class="tab-pane" id="signupModalTab">
                  <br/>
                  <form role="form">
                    <div class="form-group" id="signupForm">
                      <label for="signupUsername">Username:</label>
                      <input type="text" class="form-control"
                        id="signupUsername">
                    </div>
                    <div class="form-group">
                      <label for="signupPassword">Password:</label>
                      <input type="password" class="form-control"
                        id="signupPassword">
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox">Remember me</label>
                    </div>
                    <button ng-click="getFromServerSignup()"
                      type="submit" class="btn btn-default">Sign Up</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Rooms (PinkRed) Div Along Left Side -->
    <div id="gameRoomsDiv"><h3>Game Rooms</h3>
        <ul id="gameRoomsList">
        <!-- Unordered list where game/rooms are displayed -->
          <li ng-repeat="gameRoom in gameRooms | filter:gameRoomsFilter"
            class="gameRoomsDivList_Room"
            ng-mouseenter="hover = true"
            ng-mouseleave="hover = false"
            ng-click="joinRoom(gameRoom.roomName)"
            ng-class="
              {
                'gameRoomsDivList_Room_Available':
                  gameRoom.count < gameRoom.maxCount,
                'gameRoomsDivList_Room_Full': gameRoom.count >= gameRoom.maxCount,
                'gameRoomsDivList_Room_Hover': hover
              }">
            {{ gameRoom.roomName }} ({{ gameRoom.count }}/{{ gameRoom.maxCount }})
          </li>
        </ul>
    </div>


        <!-- Chat -->
    <div id="gameChatDiv" ng-controller="gameChatDivController">
    <h3>Talk Some Shit</h3>
      <ul id="gameChatDivMessages" ng-repeat="message in messages">
        <li>
          <span class="gameChatDivMessagesUser"
            ng-class='
            {
              "gameChatDivServerMessage":
                message.username === "SERVER"
            }'>
            {{ message.username }}:
          </span>
          <span ng-class='
            {
              "gameChatDivServerMessage":
                message.username === "SERVER"
            }'>
            {{ message.message }}
          </span>
        </li>
      </ul>
      <form ng-submit='sendToServerChatMessage()'>
        <input id="gameChatDivInput" type="text" placeholder="Message..."
          maxlength="72">
      </form>
      <!-- <div id="gameChatDiv" ng-controller="gameChatDivController">
          <div id="gameChatDivMessages">
            <ul ng-repeat="message in messages">
              <li>
                <span class="gameChatDivMessagesUser"
                  ng-class='
                  {
                    "gameChatDivServerMessage":
                      message.username === "SERVER"
                  }'>
                  {{ message.username }}:
                </span>
                <span ng-class='
                  {
                    "gameChatDivServerMessage":
                      message.username === "SERVER"
                  }'>
                  {{ message.message }}
                </span>
              </li>
            </ul>
          </div>
          <form ng-submit='sendToServerChatMessage()'>
            <input id="gameChatDivInput" type="text" placeholder="Message..."
              maxlength="72">
          </form> -->
      </div>
    </div>
  </div>


  <!-- This is populated by the instance of the phaser game.  See main.js -->
  <div id="gameDiv" ng-controller="gameDivController">  </div>

  <div id="friendsDiv" ng-controller="gameDivController">
    <div id="friendsDivTitle">
      Leaderboard!
    </div>
    <ul id="leaderboard">
      <li>High Score</li>
      <li> {{ stats.highestScore }} |  {{ stats.highestScoreUser }}</li>
      <!-- <li>User</li>
      <li> {{ stats.highestScoreUser }} </li> -->
      <li>Longest Life</li>
      <li> {{ stats.longestLife }} sec | {{ stats.longestLifeUser }}</li>
      <!-- <li>User</li>
      <li> {{ stats.longestLifeUser }} </li> -->
    </ul>
    <!-- <ul id="friendsDivList">
      <li ng-repeat
        ="friend in socialVars.friendsKeys | filter:friendFilter"
        class="friendsDivListFriend">
        <div class="friendsDivListStatus"
          ng-class="
          {
            'friendsDivListStatus_Online':
              socialVars.friends[friend].status === 'online',
            'friendsDivListStatus_Offline':
              socialVars.friends[friend].status === 'offline',
            'friendsDivListStatus_Idle':
              socialVars.friends[friend].status === 'idle'
          }">
      </div>
        {{ friend }}
      </li>
    </ul> -->
    <!-- <p id="friendsDivListFind_Title">Find friends</p>
    <input ng-model="friendFilter" type="text" id="friendsDivListFind_Input"
      placeholder="Friend Name"/> -->
  </div>

  <div id="playersDiv" ng-controller="playersDivController">

    <div ng-model="players" id="playersDivTitle">
      Players
    </div>
    <div id="playersDivListFriendNav">
      <button type="button" class="btn btn-default"
        id="playersDivListFriendNav_Add"
        ng-click="addFriend(socialVars.selectedPlayer)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default"
        id="playersDivListFriendNav_Remove"
        ng-click="removeFriend(socialVars.selectedPlayer)">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
    </div>

    <ul id="playersDivList">
      <li ng-repeat="player in gameVars.roomPlayers | filter:playerFilter:strict" class="playersDivListPlayer"
        ng-class="
          {
            'playersDivSelectedPlayerInNav':
              player.username === socialVars.selectedPlayer
          }"
        ng-click="selectPlayerFromNav(player.username)">
        <img ng-src='{{ player.profileImage }}' />
        {{ player.username }}
      </li>
    </ul>
    <p id="playersDivListFind_Title">Find players</p>
    <input ng-model="playerFilter" type="text"
      id="playersDivListFind_Input"
      placeholder="Player Name" />
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>
  <script src="js/indexCSS.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
  <script src="bower_components/angular-socket-io/socket.js"></script>
  <script src="js/indexApp.js"></script>
  <script src="js/angularControllers/navDivController.js"></script>
  <script src="js/angularControllers/gameDivController.js"></script>
  <script src="js/angularControllers/friendsDivController.js"></script>
  <script src="js/angularControllers/playersDivController.js"></script>
  <script src="js/angularControllers/gameChatDivController.js"></script>
  <scripc src="js/indexSocketIO.js"></script>

  <script src="bower_components/phaser-official/build/custom/phaser-arcade-physics.min.js"></script>
  <script src="js/game/boot.js"></script>
  <script src="js/game/preloader.js"></script>
  <script src="js/game/menu.js"></script>
  <script src="js/game/game.js"></script>
  <script src="js/game/main.js"></script>

</body>
</html>