body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#navDiv {
  position: absolute;
  background-color: #990000;
}

#showLoginModal {
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
}

#gameRoomsDiv {
  margin-top: 50px;
  position: absolute;
  left: 0%;
  width: 100%;
  background-color: #990000;
}

#gameRoomsDivTitle {
  width: 100%;
  height: 35px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24px;
}

#gameRoomsList {
  background-color: white;
  list-style: none;
  padding-left: 0;
  text-align: center;
  border-left: 6px solid green;
  border-right: 6px solid green;
  height: 300px;
  overflow: scroll;
  font-size: 12px;
}

#gameRoomsList li {
  border-bottom: 2px solid pink;
  padding: 10px 0;
}

.gameRoomsDivList_Room_Available {
  background-color: #99ff99;
}

.gameRoomsDivList_Room_Full {
  background-color: #ff8484;
}

.gameRoomsDivList_Room_Hover {
  background-color: #e0f5ff;
}

.gameRoomsDivList_Room_Full {

}

#gameRoomsDivListFind_Title {
  margin: 0;
  text-align: center;
  color: white;
}

#gameRoomsDivListFind_Input {
  width: 90%;
  height: 26px;
  padding-left: 5px;
  margin-left: 5%;
}

#gameDiv {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  background-color: black;
}

#friendsDiv {
  position: absolute;
  left: 90%;
  width: 10%;
  background-color: #990000;
}

#friendsDivTitle {
  width: 100%;
  height: 35px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24px;
}

#friendsDivList {
  background-color: white;
  list-style: none;
  padding-left: 0;
  text-align: center;
  border-left: 6px solid green;
  border-right: 6px solid green;
  height: 400px;
  overflow: scroll;
  font-size: 12px;
}

#friendsDivList li {
  border-bottom: 2px solid pink;
  padding: 10px 0;
}

.friendsDivListStatus {
  float: left;
  background-color: black;
  position: relative;
  width: 10px;
  left: 4%;
  height: 10px;
  top: 6px;
  border-radius: 50%;
  opacity: 1;
}

.friendsDivListStatus_Online {
  background-color: green;
}

.friendsDivListStatus_Offline {
  background-color: navy;
}

.friendsDivListStatus_Idle {
  background-color: gray;
}

.friendsDivListFriend_Hover {
  background-color: #e0f5ff;
}

#friendsDivListFind_Title {
  margin: 0;
  text-align: center;
  color: white;
}

#friendsDivListFind_Input {
  width: 90%;
  height: 26px;
  padding-left: 5px;
  margin-left: 5%;
}

#playersDiv {
  position: absolute;
  left: 90%;
  width: 10%;
  background-color: #990000;
}

#playersDivTitle {
  width: 100%;
  height: 35px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24px;
}

#playersDivList {
  background-color: white;
  list-style: none;
  padding-left: 0;
  text-align: center;
  border-left: 6px solid green;
  border-right: 6px solid green;
  height: 400px;
  overflow: scroll;
  font-size: 12px;
}

#playersDivList li {
  border-bottom: 2px solid pink;
  padding: 10px 0;
}

.playersDivListStatus {
  float: left;
  background-color: black;
  position: relative;
  width: 10px;
  left: 4%;
  height: 10px;
  top: 6px;
  border-radius: 50%;
  opacity: 1;
}

.playersDivListFriend_Hover {
  background-color: #e0f5ff;
}

#playersDivListFind_Title {
  margin: 0;
  text-align: center;
  color: white;
}

#playersDivListFind_Input {
  width: 90%;
  height: 26px;
  padding-left: 5px;
  margin-left: 5%;
}

#gameChatDiv {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: rgba(230, 230, 230, .5);
  border-radius: 5px;
  left: 5px;
}

#minGameChatDiv {
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: red;
  left: 96%;
  top: 1%;
  border-radius: 3px;
}

#gameChatDivMessages {
  top: 15px;
  position: relative;
  background-color: rgba(255, 255, 255, .75);
  width: 90%;
  height: 150px;
  border-radius: 3px;
  left: 4%;
  overflow: scroll;
}

#gameChatDivMessages ul {
  list-style: none;
  padding: 0;
}

#gameChatDivMessages ul li {
  padding-top: 3px;
  margin-left: 5px;
  font-size: 12px;
}

.gameChatDivMessagesUser {
  font-weight: bold;
}

#gameChatDivInput {
  position: absolute;
  width: 90%;
  left: 4%;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, .75);
}